

.text_field{
    width: 80vw;
    height: 80vh;
    background-color: rgb(245, 244, 244);
    border-radius: 50px;
    margin: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);


}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    color: black;
}

.text_input{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}
